@keyframes wiggle{0%{padding-top:20px}50%{padding-top:28px}to{padding-top:20px}}
@keyframes bounceright {
    from {
      -webkit-transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(3px);
    }
  }
@font-face {
    font-family: "Spartan";
    src: url('./fonts/Spartan-VariableFont_wght.ttf');
}

html {
  scroll-behavior: smooth;
}
body {
    font-family: 'Spartan', sans-serif;
	margin: 0;
    letter-spacing: -0.5px;
}
h2 {
    letter-spacing: 1px;
}
ul {
	list-style-type:none;
	padding: 0;
}
a {
	color: #000;
}
button:focus {
    outline: none !important;
}

.button {
    display: flex;
    align-items: center;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    padding: 0.8em 1.4em;
    padding-right: 4.7em;
    max-width: 250px;
    margin: auto;
    background: #48497d;
    border: none;
    border-radius: 5px;
    color: white !important;
    text-decoration: none !important;
    transition: 0.2s;
  }
  .button:before,
  .button:after {
    position: absolute;
    right: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    width: 2.8em;
    content: "\00a0";
    font-family: "Font Awesome 5 Free", sans-serif;
    font-size: 1.2em;
    text-align: center;
    transition: 0.2s;
    transform-origin: 50% 60%;
  }
  .button:before {
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    bottom: 0;
  }
  .button:hover {
    background: #2b2c4b;
  }
  .button:active,
  .button:focus {
    background: #002e3f;
    outline: none;
  }

  .arrow:after {
    font-weight: 900;
    content: "\f105";
  }
  .arrow:hover:after {
    -webkit-animation: bounceright 0.3s alternate ease infinite;
    animation: bounceright 0.3s alternate ease infinite;
  }

/*HEADER*/
header {
	width: 100%;
	min-height: 100%;
    background-size: cover;
}
.header-content {
	padding: 20px 0px;
}
.header-content-title {
	margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 25px 15px 15px;
}
.sub-title {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: #fff;
    border: 1px solid;
    padding: 18px;
    margin: 20px auto;
    max-width: 630px;
}
@media screen and (max-width: 670px) {
	.sub-title {
		font-size: 1em;
		margin: 20px;
	}
}

.scroll-down {
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 55px);
    text-align: center;
    z-index: 6;
}
.scroll-down i {
    color: #fff;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/*NAVBAR*/
#navbar-top {
    border-bottom: 1px solid #e0e0e0;
}
@media (min-width: 992px) {
    .navbar-nav .nav-link i {
        display: block;
        text-align: center;
        margin: 2px auto 4px auto;
    }
}
.nav-item {
    padding: 0 20px;
}
.dropdown-menu {
    font-size: 0.8rem;
    text-align: center;
}
@media screen and (max-width: 670px) {
    .dropdown-menu {
        border: none;
        background-color: transparent;
        text-align: left;
    }
}
@media screen and (min-width: 671px) {
    .dropdown-menu {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: 0px;
    }
}
.dropdown-item {
    padding: .25rem;
}
.dropdown-item.active {
    background-color: #e0e0e0;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    height: 1px;
}
/* @media screen and (max-width: 670px) {
    a.anchor {
        top: -70px;
    }
} */


/*GENERAL BODY PART*/
.part {
    text-align: center;
    padding: 30px;
    min-height: 50%;
}
.part:nth-child(2n+1) {
    background-color: #dfe1e2;
}
.part h2 {
    font-size: 2.5em;
}
.paralax {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4em;
}
.paralax .sub-title {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: .5em;
}

/*PROFILE*/
#profile-content {
    display: flex;
    align-items: center;
}
.profile-image {
    width: 200px;
    border-radius: 50%;
    border: 7px solid rgba(72, 73, 125, 0.55);
    padding: 3px;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    margin-bottom: 8px;
    margin-top: 8px;
}
.profile-image:hover {
    border: 10px solid #48497d;
    width: 208px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.profile-icons {
    margin: 10px auto 30px;
}
.profile-icons i {
    color: #48497d;
}
.profile-age {
    text-align: end;
}
.profile-location {
    text-align: start;
}
.profile-text {
	text-align: left;
    display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.profile-text p:last-child {
    margin-bottom: 0;
}
.icon-box-service {
    text-align: center;
    margin: 12px 0;
}
.icon-box-service .icon {
    border-radius: 100%;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    color: #48497d;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.5);
    margin-bottom: 20px;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}
.icon-box-service .icon i {
    line-height: unset;
}
.icon-box-service:hover .icon {
    background: #48497d;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
}
.icon-box-service h6 {
    line-height: 12px;
    margin-bottom: 9px;
}

/*CARD*/
.modal-body > img:first-of-type {
    margin-bottom: 20px;
}
.img-fluid {
    max-height: 150px;
}
.modal .img-fluid {
    max-width: 500px;
    max-height: none;
    width: 100%;
}
.figure-img {
    border: 1px solid #a0a0a0;
}
.card .badges {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.badge {
    margin: 2px;
    padding: .4em .4em .15em .4em;
    line-height: 1.2;
    font-weight: 500;
}
.card-footer:not(.card-footer-carousel) {
    display: flex;
    justify-content: center;
}
.card-footer a {
    margin: 0 5px;
}
.card-footer.empty {
    font-size: 13px;
    height: 41px;
}

/*CAROUSEL*/
.carousel {
    display: flex;
    align-items: center;
}
.carousel .carousel-item img {
  max-height: 50vh;
  min-width: auto;
  max-width: 100%;
  margin: auto;
}
.carousel-indicators li {
    background-color: #e0e0e0;
}
.carousel-indicators li.active {
    background-color: #a0a0a0;
}
.carousel-control-next,
.carousel-control-prev {
    width: 50px;
    padding: 10px;
    margin: 5px;
    background-color: #e0e0e0;
    border-radius: 25%;
    position: unset;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
@media screen and (max-width: 670px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
}


/*MODAL*/
.modal-link {
    cursor: pointer;
}
.modal .modal-header {
    flex-wrap: wrap;
    padding: 2rem 1rem 1rem 1rem;
}
.modal .modal-body {
    text-align: center;
}
.modal .card-logo {
    max-width: initial;
    margin-bottom: 15px;
}
.modal .quote-symbol {
    margin-right: 10px;
}
.modal-footer i {
    margin-left: 10px;
}
.modal .close {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    outline: none;
}
@media screen and (max-width: 670px) {
    .modal .modal-header {
        justify-content: center;
    }
    .modal .close {
        display: block;
    }
}

/*FOOTER*/
footer.part {
    background-color: #a4a4a5;
    text-align: center;
    min-height: initial;
}
footer h2 {
	font-size: 2.5em;
}
footer .links {
	padding: 10px 0;
	margin: 30px auto;
    max-width: 500px;
	font-size: 2.5rem;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
footer .copyright {
    font-size: 0.8em;
}
